.cabecalho {
    background: rgb(73, 73, 73);
    border-bottom: 2px solid black;
}

.container {
    margin: 0 3%;
    position: absolute;
}

.lista__navegacao {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.lista__navegacao___itens {
    font-size: 24px;
    padding: 2rem 0;
}

.lista__navegacao___link {
    color: black;
    text-decoration: none;
}

.hamburguer {
    background: url(../IMG/menu_FILL0_wght400_GRAD0_opsz48.png) center;
    height: 40px;
    width: 40px;
}

.menuLateral {
    display: block;
    background: rgb(73, 73, 73);
    border-left: 1px solid black;
    height: 100%;
    margin-left: 100%;
    transition: 0.5s;
    position: absolute;
    overflow-x: hidden;
    width: 0;
    z-index: 2;
}

.active { 
    margin-left: 60%;
    overflow-x: auto;
    width: 40%;
}

.titulo__menuLateral {
    text-align: center;
}

.texto__menuLateral {
    padding: 2rem;
}

.secao1 {
    background: cadetblue;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.container p {
    padding: 1rem;
}